# ——— Сборка и зависимости ———

public/
quartz/.quartz-cache/


# ——— Obsidian (личные настройки) ———
/.obsidian/workspace.json
/.obsidian/core-plugins.json
/.obsidian/graph.json
/.obsidian/plugins/webpage-html-export/data.json
