@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;

  & > .section {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 0 1em;
    align-items: baseline;

    @media all and ($mobile) {
      & > .tags {
        display: none;
      }
    }

    & > .desc {
      min-width: 0;
    }

    & > .desc > h3 > a {
      background-color: transparent;
      white-space: normal;
      word-break: normal;
    }

    & .meta {
      margin: 0 1em 0 0;
      opacity: 0.6;
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: minmax(0, 1fr) !important;

  & > .tags {
    display: none;
  }
}
